<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div id="landingPageContainer">
    <div class="container">
      <div id="tagline1">
        Discover Courses. Write Reviews.
      </div>
    </div>
    <div class="container">
      <div id="logo">
        <mark class="white">Comm</mark><mark class="green">Link</mark>
      </div>
    </div>
    <div class="container">
      <div id="tagline2">
        Enhancing the UNT Tech Comm Experience.
      </div>
    </div>
</div>
<div class="container-signup">
  <div class="sign-up">
   <h2>
     <mark class="white">Sign</mark> <mark class="green">Up</mark></h2>
    <div class="field">
      <%= f.label :email, style: "margin-bottom: -10px; margin-top: 20px; font-size: 16px;"%><br />
      <%= f.email_field :email, class: "form-control", placeholder: "enter email", autofocus: true, autocomplete: "email", style: "width: 50%; margin: auto" %>
    </div>
    <h4>
    <div class="field">
      <%= f.label :password, style: "margin-bottom: -5px; margin-top: 20px; font-size: 16px;"%>
      <% if @minimum_password_length %>
      <em style="font-size: 16px;">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, class: "form-control", placeholder: "enter password", style: "width: 50%; margin: auto", autocomplete: "new-password" %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation, style: "margin-bottom: -16px; margin-top: 20px; font-size: 16px;" %><br />
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "re-enter password", style: "width: 50%; margin: auto", autocomplete: "new-password" %>
    </div>
   </h4>
      <%= f.submit "Create Account", class: "btn btn-success myButton" %><br />

      <div style="display: flex; justify-content: space-between; width: 40%; margin: auto; vertical-align: middle; line-height: 50px">
        <hr style="width: 45%; background-color: white;">
        <p style="margin: 5px 0 0 0;">or</p>
        <hr style="width: 45%; background-color: white;">
      </div>


      <div class="links">
        <%= render "devise/shared/links" %>
      </div>

  </div>
</div>
<% end %>


