<p id="notice"><%= notice %></p>

<h1>Instructors</h1>

<div class="flex-container">    
   <% @instructors.each do |instructor| %>
      <div class="flex-item">
        <%=image_tag instructor.image.url, class: "instructor-show" if instructor.image? %>
        <div class="info-container">
          <h1><%= instructor.name %></h1>
          <p><%= instructor.title %></p>
          <p><%= instructor.education %></p>
          <p><%= instructor.specialty %></p>
          <p><%= instructor.office %></p>
          <p><%= instructor.availability %></p>

          <p><%= link_to 'Show', instructor %></p>
        <% if user_signed_in? && current_user.try(:admin) %>
          <p><%= link_to 'Edit', edit_instructor_path(instructor) %>
            <%= link_to 'Destroy', instructor, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
    </div>
  </div>
      <% end %>
  </div>

<br>

<% if user_signed_in? && current_user.try(:admin) %>
  <%= link_to 'New Instructor', new_instructor_path %>
<% end %>