<p id="notice"><%= notice %></p>

<h1 style="font-size: 72px;"><%= @instructor.name %></h1>

<div style="display: flex; background-color: black; border-radius: 10px">

  <%= image_tag @instructor.image.url, class: "instructor-show3" if @instructor.image? %>

  <div>
    <h1 style="color: #4CAF50; font-size: 36px  q [ipy\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\u];"><%= @instructor.title %></h1>
  </div>
</div>

<p>
  <strong>Title:</strong>
  <%= @instructor.title %>
</p>

<p>
  <strong>Education:</strong>
  <%= @instructor.education %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @instructor.degree %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @instructor.specialty %>
</p>

<p>
  <strong>Office:</strong>
  <%= @instructor.office %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @instructor.availability %>
</p>

<p>
  <strong>Contact Info:</strong>
  <%= @instructor.contact %>
</p>

<p>
  <strong>Specialties:</strong>
  <%= @instructor.skills %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to "Website", @instructor.website %>
</p>

<% if @instructor.image? %>
<%= image_tag @instructor.image.url, class: "instructor-show" %>
<% end %>

<% if user_signed_in? && current_user.try(:admin) %>
  <%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<% end %>
<%= link_to 'Back', instructors_path %>
