<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instructor.name %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @instructor.degree %>
</p>

<p>
  <strong>Title:</strong>
  <%= @instructor.title %>
</p>

<p>
  <strong>Education:</strong>
  <%= @instructor.education %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @instructor.specialty %>
</p>

<p>
  <strong>Office:</strong>
  <%= @instructor.office %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @instructor.availability %>
</p>

<% if @instructor.image? %>
<%= image_tag @instructor.image.url, class: "instructor-show" %>
<% end %>

<% if user_signed_in? && current_user.try(:admin) %>
  <%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<% end %>
<%= link_to 'Back', instructors_path %>
