<%= form_for [@course, @rating] do |form| %>

  <div style="display: flex; justify-content: center">

    <div style="height: auto; width: 330px">

      <h1 style="font-size: 40px">Leave a Review</h1>

      <div class="form-group">
        <p style="margin: 0 0 5px 0;">What did you learn?</p>
        <%= form.text_area :comment, class: "form-control", style: "height: 100px!important" %>
      </div>

      <div class="form-group">
        <p style="margin: 0 0 5px 0;">What challenged you?</p>
        <%= form.text_area :comment2, class: "form-control", style: "height: 100px!important" %>
      </div>

      <div class="form-group">
        <p style="margin: 0 0 5px 0;">How did you grow?</p>
        <%= form.text_area :comment3, class: "form-control", style: "height: 100px!important" %>
      </div>

      <div class="form-group" style="margin: 20px 0!important;">
        <p style="margin: 0 0 5px 0;">Enter your overall score for the class:</p>
        <%= form.number_field :score, min: 1, max: 5, class: "form-control" %>
      </div>

      <div class="actions" style="text-align: center!important;">
        <%= form.submit "Submit", class: "btn btn-success"%>
      </div>

    </div>

  </div>
<% end %>
