<div id="landingPageContainer">
    <div id="container">
      <div id="tagline1">
        Discover Courses. Write Reviews.
      </div>
    </div>
    <div id="container">
      <div id="logo">
        <mark class="white">Comm</mark><mark class="green">Link</mark>
      </div>
    </div>
    <div id="container">
      <div id="tagline2">
        Enhancing the UNT Tech Comm Experience.
      </div>
    </div>
</div>
<div class="container-signup">
  <div class="log-in">
    <h2>
      <mark class="white">Log</mark> <mark class="green">In</mark>
    </h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, style: "margin-bottom: -10px; margin-top: 20px; font-size: 16px;"%><br />
      <%= f.email_field :email, class: "form-control", placeholder: "email", autofocus: true, autocomplete: "email", style: "width: 50%; margin: auto" %>
    </div>

    <div class="field">
      <%= f.label :password, style: "margin-bottom: -10px; margin-top: 20px; font-size: 16px;"%><br />
      <%= f.password_field :password, class: "form-control", placeholder: "password", style: "width: 50%; margin: auto", autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div style="display: inline-grid; justify-content: center;">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, class: "form-check-label", style: "width: 100px!important; margin-bottom: 13px;" %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-success myButton", style: "margin-bottom: -10px" %>
    </div>

    <div style="display: flex; justify-content: space-between; width: 40%; margin: auto; vertical-align: middle; line-height: 50px">
      <hr style="width: 45%; background-color: white;">
      <p style="margin: 5px 0 0 0;">or</p>
      <hr style="width: 45%; background-color: white;">
    </div>

    <div class="links">
      <%= render "devise/shared/links" %>
    </div>

    <% end %>
  </div>
</div>
