<p id="notice"><%= notice %></p>

<h1>Courses</h1>
<div class="container-fluid">
<div class="row">
    <% @courses.each do |course| %>
  <div class="col-sm-12">
       <div class="course-list-box">
       <h1><%= course.number %> - <%= course.name %></h1>
        <p><%= course.description %></p>
        <p> <% for @instructor in course.instructors %>
            <%= @instructor.name %>
          <% end  %> </p>
        <p><%= link_to 'Show', course %> <%= link_to 'Edit', edit_course_path(course) %><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
         </p>
  </div>
  </div>
   <% end %>
  </div>
  </div>
<br>

<%= link_to image_tag("add-icon.png"), new_course_path %>