<p id="notice"><%= notice %></p>

<h1>Courses</h1>
<div class="container-fluid">
<div class="row">
    <% @courses.each do |course| %>
  <div class="col-sm-12">
       <div class="course-list-box">
       <h1><%= course.number %> - <%= course.name %></h1>
        <p><%= course.description %></p>
        <p><%= course.ratings.average(:score) %></p>
        <p> <% for @instructor in course.instructors %>
            <%= @instructor.name %>
          <% end  %> </p>
        <div style="display: inline-flex">
          <p><%= link_to 'Show', course %></p>
          <% if user_signed_in? && current_user.try(:admin) %>
            <p><%= link_to 'Edit', edit_course_path(course) %></p>
            <p><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>
        </div>
  </div>
  </div>
   <% end %>
  </div>
  </div>
<br>

<<<<<<< HEAD
=======
<% if user_signed_in? && current_user.try(:admin) %>
>>>>>>> c24cdd03d3e330eeaa3aa6034ca49e504193c970
  <%= link_to image_tag("add-icon.png"), new_course_path %>
