<p id="notice"><%= notice %></p>
  
<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Instructor:</strong>
  <% for @instructor in @course.instructors %>
    <p><%= @instructor.name %></p>
  <% end %>
</p>

<h1>Reviews:</h1>

<% if @course.ratings.size === 0 %>
  <h2>No ratings yet</h2>
  <h3>Be the first to leave a review</h3>
<% else %>
  <h2>Average Rating: <%= @course.ratings.average(:score) %></h2>
<% end %>
  <p>
    <% @course.ratings.each do |rating| %>

    Score: <%= rating.score %>
  </p>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to 'Add Review', new_course_ratings_path(@course) %>
    <% else %>
      <p>
        To leave a review, please <%= link_to 'sign in', new_user_session_path %> or
        <%= link_to 'create an account', new_user_registration_path %>.
      </p>
    <% end %>

    <br>

    <%= link_to like_course_path(@course), method: :put do %>
      <i class="fas fa-thumbs-up"></i>
      <%= @course.get_upvotes.size %>
    <% end %>

    <%= link_to dislike_course_path(@course), method: :put do %>
      <i class="fas fa-thumbs-down"></i>

      <%= @course.get_downvotes.size %>
    <% end %>

<% if user_signed_in? && current_user.email === 'commlinkadmin@fakeemail.com' %>
  <%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>
<%= link_to 'Back', courses_path %>